<header class="navbar navbar-fixed-top">

  <div class="navbar-inner">
  <a class="brand" href="/">Outboard.io</a>	  
    <div class="container">
      <ul class="nav">
				<li class="active">
					<li><a href="/recommendations/new">New</a></li>
				</li>
				<li><a href="/users">Users</a></li>
				<li class="divider-vertical"></li>
				<li><%= link_to "Home", root_path %></li>
				<li><%= link_to "Help", help_path %></li>
				<li><%= link_to "Sign in", '#' %></li>
			</ul>
    </div>
  </div>
</header>